<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://trainorride.raqeebuddin.com:8172/MsDeploy.axd?site=raqeebuddin-002-subsite3</MSDeployServiceURL>
    <DeployIisAppPath>raqeebuddin-002-subsite3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\raqeebuddin-002</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TFREntities2" Order="3" Enabled="False">
          <Destination Path="Data Source=sql6001.site4now.net;Persist Security Info=True;User ID=DB_A2BD37_TrainorRideDB_admin;Password=Whitewolf123;Connect Timeout=30;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TrainFoldRide.Models.TFREntities2, TrainFoldRide" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TFREntities2-Web.config Connection String">
      <ParameterValue>metadata="res://*/Models.TFR Database.csdl|res://*/Models.TFR Database.ssdl|res://*/Models.TFR Database.msl";provider=System.Data.SqlClient;provider connection string="Data Source=sql6001.site4now.net;Persist Security Info=True;User ID=DB_A2BD37_TrainorRideDB_admin;Password=Whitewolf123;Connect Timeout=30;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TFREntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.tfrDb.csdl|res://*/Models.tfrDb.ssdl|res://*/Models.tfrDb.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\MSSQLLocalDB;attachdbfilename="C:\Users\NARC\Desktop\TFR Data Base\TFR.mdf";integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TFREntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TFRdatabase.csdl|res://*/Models.TFRdatabase.ssdl|res://*/Models.TFRdatabase.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql6001.smarterasp.net;Initial Catalog=DB_A2BC60_testDB;Persist Security Info=True;User ID=DB_A2BC60_testDB_admin;Password=Whitewolf123;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>