body {
    background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-horizontal .control-label {
    text-align: left;
}

.navbar-default {
    background-color: #39dce3;
    border-color: transparent;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #333333;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #333333;
}

#headerwrap {
    /* background: url(../img/bg01.jpg) no-repeat center top; */
    background-color: #39dce3;
    margin-top: -20px;
    padding-top: 200px;
    background-attachment: relative;
    background-position: center center;
    min-height: 550px;
    width: 100%;
    background-size: cover;
}

.centered {
    text-align: center;
}

main.css:44 p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.title {
    background-color: #f0ad4e
}

.title > h2 {
    color:white;
}